@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ffba08;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #6a040f;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d00000;
  }
}
.fade-in {
  animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.fast-fade-in {
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
