#root {
  color: #ffba08;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  background-color: transparent;
  color: #f7ece1ff;
  outline: none;
}
